html, body {
    background-color: #ffffff;
    margin: 0px;
    height: 100%;
}

img {
    max-width: 100%;
    display: block;
}

#containerNavbar {
    max-width: 960px;
}

/* Navbar */
.site-header {
    background-color: rgba(0, 0, 0, .85);
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.6s; /* Transition effect when sliding down (and up) */
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }

/* Navbar links (normal) */
.site-header a {
    display: block;
    color: #8e8e8e;
    transition: color .15s ease-in-out;
    font-size: 20px;
    font-weight: bold;
}


/* Navbar links (hover) */
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/* Each lines of Toggle Button */
.menu-line {
    width: 20px;
    height: 3px;
    background-color: #8e8e8e;
    transition: color .15s ease-in-out;
    margin-bottom: 4px;
}

/* Toggle Button from Navbar  */
.menu {
    display: none;
}

/* Main Div */
#mainDiv {
    height: 100vh;
}

#centerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* My Name inside Main Div */
#myName {
    font-family: 'Damion', cursive;
    font-size: 7.8em;
}

/* Text inside Main Div */
.fw-normal {
    color: #fff;
    font-size: 1.7em;
    text-align: center;
}

/* Animation on Text inside Main Div */
/*.textAnimation {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}*/

/* Animation on Title inside Main Div */
.textAnimation:first-of-type {    
    /* For increasing performance 
    ID/Class should've been used. 
    For a small demo 
    it's okaish for now */
animation: showup 4s 5; /*infinite*/
}

/* Animation on Subtitle inside Main Div */
.textAnimation:last-of-type {
    animation: showup 4s 5;
}

/* Showup rules */
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}


/* divSections (About, Technologies, ...) */
#divSection {
    margin: 2em auto 2em;
    text-align: center;
}

/*Container of YouTube Video*/
.videoContainer {
   margin: 0em 7em 2em 7em; 
}

/* YouTube Video(s) */
.ratio {
    margin: auto;
    text-align: center;
}

/* Titles of each Section */
.subtitles {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2em;
    margin-bottom: .6em;
    font-weight: bold;
}

/* Content of each Section */
.contents {
    font-size: 1.15em;
    text-align: justify;
}

/* Div of the Content of each Section*/
.subContents {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* Container of Image on About */
.imageContainer{
    padding: 0em 1.5em 0em .1em; 
}

/*Image from About Me section*/
.roundImage{
    border-radius: 50%;
    width: 100%;
    /*height: 145px;*/
    object-fit: contain;/*cover*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    -moz-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


/* QUOTE (give it a background image)*/
#quote {
    background-color: transparent;
    background-size: cover;
    background-image: url('https://i.postimg.cc/K8YXPJNW/autumn.jpg');
    position: relative;
}

/* Make a Solid Color And A Gradient for the Quote*/
#quote:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

/* Quote Content (p) */
#quoteContent {
    font-family: 'Carter One', cursive;
    font-size: 2em;
    position: relative;
    color: #f5f3f4;
    z-index: 3;
}

/* Quote Title (h3) */
#quoteTitle {
    font-family: 'Carter One', cursive;
    font-size: 1.4em;
    position: relative;
    color: #f5f3f4;
    z-index: 3;
}


/* items of each TECHNOLOGIES Section */
.items {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-bottom: .5em;
    text-align: left;
}


/* GRID LAYOUT (Applied on Technologies Section) â¬ */

/* Languages, dbs, and frameworks Grids */
.languages, .dbs, .frameworks {
    padding: .6rem .4rem;
    text-align: center;
    /*border: 3px inset darkblue;*/ /*inset*/
    font-size: 1em;
    aspect-ratio: 1/1.42;
}

/* Container for Grid with 5 columns */
.gridContainerPrimary{
    margin: 0em 6.5em; 
}

/* Container for Grid with 4 columns */
.gridContainerSecondary {
    margin: 0em 10em;
}


/* Languages Grid */
.gridOne {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
    gap: 1rem;
    margin-bottom: 1.5em;
    /*text-align: center;*/
}

/* dbs Grid */
.gridTwo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
    gap: 1rem;
    margin-bottom: 1.5em;
}

/* Frameworks Grid */
.gridThree {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
    gap: 1rem;
    margin-bottom: 1.5em;
}

/* Testing card contents */
/*#l3, #l2, #d2, #d3, 
#l1, #l4, #l5, d1, #d2, #d3, #d4,
#f1, #f2, #f3, #f4 {
    background-color: black;
}*/


.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1/2;
    grid-row: 1/2;
}

/* Images inside Grids */
.gridImages {
    aspect-ratio: 1 / 1;
    width: 100%;
    /*height: 145px;*/
    object-fit: contain;/*cover*/
    margin-bottom: .5em;
}

/* Shadow effect to cards */
.card {
    -webkit-box-shadow: 0 13px 8px #777;
    -moz-box-shadow: 0 13px 8px #777;
    box-shadow: 0 13px 8px #777;
}

/* Content of each card (inside of the content, lives the title) */
.card_content {
    z-index: 10;
    background: white;
    align-self: end;
    margin: .5rem .5rem .3rem;
    padding: .5rem;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
}

/* Titles of each Card inside the Grids */
.card_title {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.25;
}



/* Social icons (inside "Connect") */
.social a {
    font-size: 4.5em;
    padding: 3rem;
}

/* Facebook Icon */
.bi-facebook{
    color: #3b5998;
}

/* LinkedIn Icon */
.bi-linkedin{
    color: #0072b1;
}

/* Instagram Icon */
.bi-instagram{
    color: #fb3958
}

/* GitHub Icon */
.bi-github{
    color: #fff;
}

/* Hover of Social Icons */
.bi-facebook:hover,
.bi-linkedin:hover,
.bi-instagram:hover,
.bi-github:hover {
    color:#d5d5d5;
}

.bi-github:hover {
    color:black;
}




#blackText {
    color: black;
}




/*--- MEDIA QUERIES --*/

@media (max-width: 1200px) {
    /* Div of the Content of each Section*/
    #divSection {
        margin: 1.5em auto 1.5em;
        text-align: center;
    }

    /* Titles of each Section */
    .subtitles {
        font-size: 3em;
        margin-bottom: .5em;
    }

    /* My Name inside Main Div */
    #myName {
        font-size: 6em;
    }

    /* Text inside Main Div */
    .fw-normal {
        font-size: 1.48em;
    }

    /*Container of YouTube Video*/
    .videoContainer {
        margin: 0em 5em 1.7em 5em; 
     }

     /* Container of Image on About */
    .imageContainer{
        padding: 0em .1em 0em .1em; 
    }    

    /* items of each Technologies Section */
    .items {
        font-size: 1.4em;
        margin-bottom: .6em;
    }
    
    /* Container for Grid with 5 columns */
    .gridContainerPrimary{
        margin: 0em 3em; 
    }

    /* Container for Grid with 4 columns */
    .gridContainerSecondary {
        margin: 0em 6em;
    }
        

}


@media (max-width: 992px) {
    /* Div of the Content of each Section*/
    #divSection {
        margin: 1.2em auto 1.2em;
        text-align: center;
    }

    /* Titles of each Section */
    .subtitles {
        font-size: 2.6em;
        margin-bottom: .4em;
    }

    /* Content of each Section */
    .contents {
        font-size: 1.1em;
    }

    /* My Name inside Main Div */
    #myName {
        font-size: 5.7em;
    }
    
    /* Text inside Main Div */
    .fw-normal {
        font-size: 1.35em;
    }

    /*Container of YouTube Video*/
    .videoContainer {
        margin: 0em 4em 1.5em 4em; 
     }

     /* Container of Image on About */
    .imageContainer{
        padding: 0em; 
    }    

    /* Quote Content */
    #quoteContent {
        font-size: 1.75em;
    }

    /* Quote Title */
    #quoteTitle {
        font-size: 1.25em;
    }

    /* items of each Technologies Section */
    .items {
        font-size: 1.3em;
        margin-bottom: .5em;
    }

    /* Container for Grid with 5 columns */
    .gridContainerPrimary{
        margin: 0em 1.5em; 
    }

    /* Container for Grid with 4 columns */
    .gridContainerSecondary {
        margin: 0em 2em;
    }
       


}


@media (max-width: 768px) {
    /* Toggle Button from Navbar  */
    .menu {
        padding: 1.2em 1.5em;
        width: 4.2em;
        height: 4.5em;
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }

    /* Logo from Navbar*/
    .logo {
        width: 5em;
        padding-left: 1em;
    }

    /* Div of the Content of each Section*/
    #divSection {
        padding: 1.2em;
        margin: auto;
    }

    /* Titles of each Section */
    .subtitles {
        font-size: 2.2em;
        margin-bottom: .4em;
    }

    /* Content of each Section */
    .contents {
        font-size: 1em;
    }

    /* My Name inside Main Div */
    #myName {
        font-size: 4.4em;
    }
        
    /* Text inside Main Div */
    .fw-normal {
        font-size: 1.1em;
    }

    /*Container of YouTube Video*/
    .videoContainer {
        margin: 0em 1em 1.2em 1em; 
    }

    /* Container of Image on About */
    .imageContainer{
        padding: 0em 7em; 
    }    

    /* Quote Content */
    #quoteContent {
        font-size: 1.5em;
    }

    /* Quote Title */
    #quoteTitle {
        font-size: 1.1em;
    }    

    /* items of each Technologies Section */
    .items {
        font-size: 1.25em;
        margin-bottom: .45em;
    }

    /* Container for Grid with 5 columns */
    .gridContainerPrimary{
        margin: 0em 0em; 
    }

    /* Container for Grid with 4 columns */
    .gridContainerSecondary {
        margin: 0em .5em;
    }
      

}


@media (max-width: 576px) {
    /* Toggle Button from Navbar  */
    .menu {
        padding: 1.2em 1.4em;
        width: 4em;
        height: 4.5em;
    }

    /* Div of the Content of each Section*/
    #divSection {
        margin: 0em;
        padding: 1.4em;
    }

    /* Div of the Content of each Section*/
    .subContents {
        padding-left: .5em;
        padding-right: .5em;
    }

    /* Titles of each Section */
    .subtitles {
        font-size: 2.3em;
        margin-bottom: .4em;
    }

    /* My Name inside Main Div */
    #myName {
        font-size: 4.1em;
    }
        
    /* Text inside Main Div */
    .fw-normal {
        font-size: 1.2em;
    }

    /*Container of YouTube Video*/
    .videoContainer {
        margin: 0em 1em .8em 1em; 
     }

     /* Container of Image on About */
    .imageContainer{
        padding: 0em 7.1em; 
    }    

    /* Quote Content */
    #quoteContent {
        font-size: 1.35em;
    }

    /* Quote Title */
    #quoteTitle {
        font-size: 1em;
    }  

    /* items of each Technologies Section */
    .items {
        font-size: 1.2em;
        margin-bottom: .4em;
    }

    /* Container for Grid with 4 columns */
    .gridContainerSecondary {
        margin: 0em 0em;
    }
      

}

